* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: monospace;
}

#main-contain {
    width: 470px;
    margin-top: 5em;
}

#instructions {
    margin-bottom: 2em;
    width: 320px;
}

h3 {
    margin-bottom: 1em;
}

li {
    text-align: left;
}

table {
    width: 95%;
}

th {
    font-weight: bold;
}

#click-count-display {
    width: 35%;
}

#new-game-btn {
    cursor: pointer;
}

.flex-table {
    width: 100%;
    margin-bottom: 2em;
}

.row {
    display: flex;
    margin: .8em 0;
}

.cell {
    display: flex;
    align-items: center;
    width: 105px;
    height: 105px;
    font-size: 2.5em;
    background: #eee;
}

.underline-flash {
    animation: underline 2s infinite;
}

@keyframes underline {
    from {
        text-decoration: underline;
    }
    to {
        text-decoration: none;
    }
}

.fa-sync-alt {
    color: #4363d8;
}

.fa-tree {
    color: #3cb44b;
}

.fa-bug {
    color: #e6194B;
}

.fa-list {
    color: #469990;
}

.fa-key {
    color: #9A6324;
}

.fa-car-crash {
    color: #f58231;
}

.fa-link {
    color: #808000;
}

.fa-sort-numeric-down {
    color: #4363d8;
}