* {
    margin: auto;
}

#main-contain {
    box-sizing: border-box;

}

table {
    margin-top: 20%;
    width: 50%;
    background: #eee;
    border-collapse: collapse;
}

td {
    border: solid #fff 4px;
    text-align: center;
    width: 70px;
    height: 70px;
    font-size: 2.5em;
    padding: .2em;
}

i {
    padding: 0;
    margin: 0;
}

.fa-tree {
    color: #3cb44b;
}
.fa-bug {
    color: #e6194B;
}
.fa-list {
    color: #469990;
}
.fa-sync-alt {
    color: #4363d8;
}
.fa-key {
    color: #9A6324;
}
.fa-car-crash {
    color: #f58231;
}
.fa-link {
    color: #808000;
}
.fa-sort-numeric-down {
color: #a9a9a9;
}